@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  --color-navy: #081727;
  --color-surface: #1e2b39;
  --color-cyan: #2aa2c1;
}

html,
body {
  background-color: var(--color-navy);
  color: white;
  margin: 0;
  padding: 0;
}
